@model DatingApp.ViewModels.PostMessageViewModel
@using Microsoft.AspNet.Identity
@using System.Drawing
@using System.IO

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Presentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Presentation)
        </dd>
        <dt>
            Avatar
        </dt>
        <dd>
            @{            
                if (Model.Profile != null && Model.Profile.Content != null) {
                    var base64 = Convert.ToBase64String(Model.Profile.Content);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" alt="avatar" height="57" width="57" />         
                    }
                }
        </dd>
    </dl>
</div>
<p>
    @if (Url.RequestContext.RouteData.Values["id"].ToString() == User.Identity.GetUserId())
            {
        @Html.ActionLink("Ändra profil", "EditProfile", "User")
    }
</p>
     
    <textarea rows="2" cols="50" id="txtPost"></textarea>
    <button id="btnSend">Skicka</button>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).on('click', '#btnSend', function () {
        alert("hej");

        var url = window.location.pathname;
        var receiver = url.substring(url.lastIndexOf('/') + 1);

        var mdl = { Content: $('#txtPost').val() }
        var prf = { Id: receiver }


            $.ajax({
                type: "POST",
                data: JSON.stringify({ message: mdl, profile: prf }),
                url: "/api/message/send",
                contentType: "application/json"
            }).done(function (res) {
                $("#mydiv").html(res.Content);
            });
        });           
</script>

<div id="mydiv">hereitcomes</div>

<table class="table"> 
    <tr>
        <th>
            <p>Inlägg</p>
        </th>
    </tr>
    @if (Model.Messages != null)
    {
        foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
            </tr>
        }
    }
</table>
