@model DatingApp.ViewModels.PostMessageViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Presentation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Presentation)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>*@

    </dl>
</div>
<p>
@if (Url.RequestContext.RouteData.Values["id"].ToString() == User.Identity.GetUserId())
{
    @Html.ActionLink("Ändra profil", "EditProfile", "User")
}
</p>
@using (Html.BeginForm("Action", "Controller", new { id = User.Identity.GetUserId() }, FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Message.Content)
    <input type="submit" value="Skicka" />
}
<table class="table">
    <tr>
        <th>
            <p>Inlägg</p>
        </th>
    </tr>
    @if (Model.Messages != null)
    {
    foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
        </tr>
    }
    }
</table>
