@using Microsoft.AspNet.Identity
@{ DomainLibrary.Repositories.UserRepository userRepository = new DomainLibrary.Repositories.UserRepository(); }
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                    <input name="txtSearch" type="text" style="
                     width: 50%;
                     margin:  0 auto;
                     margin-top: 3%;">
                    <input type="submit" value="Sök" formaction="@Url.Action("SearchResults", "User")" />
            </li>
            <li id="dropDownList"><a id="dropDown" href="#">Vänförfrågningar</a><ul id="dropDownUl"></ul>
                @Scripts.Render("~/bundles/jquery")
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#dropDown').click(function () {

                            var user = { Id: '@User.Identity.GetUserId()' };
                            var myUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "friend", id = "getrequests" })';

                            $.ajax({
                                    type: "POST",
                                data: JSON.stringify(user),
                                url: myUrl,
                                contentType: "application/json"
                            }).done(function (get) {
                                $("#dropDownUl").html('');
                                $.each(get, function (key, item) {
                                    var target = { Id: item.Id };
                                    $("#dropDownUl").append
                                        ('<li class="dropDownListItem" id=' + item.Id + '>Vänförfrågan från: ' + item.UserName + ' <button id="' + item.Id + 'a" type="button">acceptera</button> <button id="' + item.Id + 'd" type="button">neka</button> </li><hr class="hrNoMargin"/>');

                                    $('#'+item.Id+'a').click(function () {
                                        $.ajax({
                                            type: "POST",
                                            data: JSON.stringify({ usermodel: user, targetmodel: target }),
                                            url: "/api/friend/acceptrequest",
                                            contentType: "application/json"
                                        }).done(function () {
                                            $('#' + item.Id).remove();
                                            });
                                        });
                                    $('#'+item.Id+'d').click(function () {
                                        $.ajax({
                                            type: "POST",
                                            data: JSON.stringify({ usermodel: user, targetmodel: target }),
                                            url: "/api/friend/declinerequest",
                                            contentType: "application/json"
                                        }).done(function () {
                                            $('#' + item.Id).remove();
                                            });
                                        });
                                    });
                                });
                            });

                    });
                </script>
            </li>
            <li>
                @Html.ActionLink(userRepository.GetFullName(User.Identity.GetUserId()), "Index", "User", new { id = User.Identity.GetUserId() }, null)
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
